.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.hero__section {
  padding-top: 80px !important;
  padding-bottom: 80px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__content,
.hero__img {
  width: 50%;
}

.hero__img img {
  width: 100%;
}

.hero__content {
  padding-top: 40px;
}

.hero__content h2 {
  font-size: 3rem;
  line-height: 65px;
}

.hero__content p {
  margin-top: 40px;
  font-size: 1.1rem;
  color: black;
}

.highlight {
  color: rgb(240, 175, 53);
}

.hero__btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.primary__btn,
.secondary__btn {
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  color: #050505;
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary__btn {
  background: #6c63ff;
  color: white;
}

.secondary__btn {
  background: #030500;
  color: white;
}
.secondary__btn:hover {
  background-color: rgb(234, 150, 23);
}

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 2rem;
    line-height: 50px;
  }

  .hero__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.5rem;
    line-height: 45px;
  }
  .hero__content {
    margin-bottom: 30px;
  }

  .hero__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero__content p {
    font-size: 0.9rem;
  }
  .primary__btn,
  .secondary__btn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero__content,
  .hero__img {
    width: 100%;
  }
  .hero__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.counter__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter__item {
  width: 33%;
  text-align: center;
}

.counter__number,
.counter__title {
  background-size: 100% 100%;
  background-clip: text;
}

.counter__number {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.counter__title {
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .counter__number {
    font-size: 2rem;
  }
  .counter__title {
    font-size: 1.2rem;
  }

  .counter__item {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .counter__number {
    font-size: 1.5rem;
  }

  .counter__title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .counter__wrapper {
    flex-direction: column;
  }
  .counter__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
