.CalendarComp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calFormImg {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
}

.calFormImg form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.calFormImg input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 400px;
  height: 60px;
  border: 1px solid rgb(240, 175, 53);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}

.calFormImg label {
  font-weight: bold;
}

.calFormImg h2 {
  margin-bottom: 20px;
}
.CalendarComp img {
  width: 400px;
}

.CalendarComp button[type="submit"] {
  background-color: #6c63ff;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.CalendarComp h1 {
  margin-top: 30px;
}

.CalCal {
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .calFormImg {
    flex-direction: column;
  }
}
