.Board {
  margin: 50px auto;
  padding: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  width: 50%;
}

.Board form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.Board label {
  font-weight: bold;
  margin-bottom: 10px;
}

.Board input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.Board button[type="submit"] {
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Board div {
  /* background-color: #f0f0f0; */
  border-radius: 10px;
}

.Board button {
  padding: 10px 20px;
  margin-right: 20px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Board p {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.Board h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.Board a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.post-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.post-container p {
  font-size: 14px;
  margin-bottom: 10px;
}

.post-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.post-container form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.post-container textarea {
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}

.post-container button[type="submit"] {
  background-color: #6c63ff;
  width: 20%;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.post-container button[type="submit"]:hover {
  background-color: #6c63ff;
}
