/* CSS for navigation bar */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #eee;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  margin-right: 20px;
}

nav a,
nav button {
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  background-color: #333;
  color: #fff;
}

/* CSS for login page */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

.login h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.login input[type="email"],
.login input[type="password"] {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.login button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.login .error {
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* CSS for signup page */

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

.signup h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.signup input[type="firstName"],
.signup input[type="lastName"],
.signup input[type="email"],
.signup input[type="password"] {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.signup button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.signup .error {
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* CSS for salary */

.salary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.salary h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.salary form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.salary label {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.salary input[type="text"],
.salary input[type="radio"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.salary input[type="radio"] {
  margin-top: 10px;
}

.salary button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.salary button[type="submit"]:hover {
  background-color: #3399ff;
}
